body{
    background-color: black;
}
@media (max-width:640px){
    .dashboard,.heading{
       
        font-size: 50px;

    }
}

.dashboard{
    position: absolute;
    box-sizing: border-box;
   
color:white;
width: 1500px;
height: 120px;
left: 30px;
top: 30px;
background-color: black;
border: 2px solid #b1a9a9;
border-radius: 20px;
}
.heading{
    padding: 25px;
}
.pic{
    box-sizing: border-box;
position: absolute;
width: 506px;
height: 311px;
left: 41px;
top: 197px;
background: #111111;
border: 2px solid #808080;
border-radius: 20px;
}
.name{
    
    height: 29px;
    left: 221px;
    top: 400px;
    color: white;
    font-weight: 200;
    font-size: 24px;
    font-family: 'Inter' ,sans-serif;
}
.img{

width: 190px;
height: 190px;
left: 199px;
top: 227px;
background-color:black;
border-radius: 100000px;
}
.detail{
    box-sizing: border-box;
position: absolute;
width: 500px;
height: 355px;
left: 47px;
top: 537px;
background: #111111;
border: 2px solid #808080;
border-radius: 20px;
}
.list{
    color: white;
    padding: 50px;
    font-family: 'Inter' ,sans-serif;
}
.link{
    box-sizing: border-box;
position: absolute;
width: 506px;
height: 306px;
left: 41px;
top: 928px;

border: 2px solid #808080;
border-radius: 20px;
}
.lin{
    color:white;
    padding: 30px;
width: 68px;
height: 29px;
left: 84px;
top: 958px;

font-family: 'Inter',sans-serif;

font-weight: 200;
font-size: 24px;

}
.i1{
    color:white;
    background-color: aliceblue;
    padding: 10px;
  display: grid;
    height: 20px;
    width: 20px;
    border: 2px solid #808080;
}
.h6{
    color:aliceblue;
}
.table{
   box-sizing: border-box;

position: absolute;
width: 1102px;
height: 1036px;
left: 584px;
top: 197px;

background: #111111;
border: 2px solid #808080;
border-radius: 20px;
}

.th{
    color:white;
    font-family:'Inter',sans-serif;
    border:2px solid #b1a9a9;
    justify-content: space-between;
}